{{!-- Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}


<div>Articles</div>
{{#each articles }}
	<div>{{headline}}</div>
	<div>{{summary}}</div>
	<div>{{url}}</div>
{{/each}}