{{!-- Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}


<div>Articles</div>
<div>--------------------------------------------</div>
{{#each articles }}
	<h4>{{headline}}</h4>
	<div>{{summary}}</div>
	<div>
		<a href="{{url}}">{{url}}</a>
	</div>
	<div>
		<button class='js-add-comment'>Add Comment</button>
		<button class='js-show-comments'>Show Comments</button>
	<div> --------------------------------</div>
{{/each}}
