/* css placeholder */
.articleContainer{
    padding:20px;
    margin:10px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    border-radius: 2px;
}
.commentCont{
    width:50%;
}
.comments{
    padding:20px;
    margin:10px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    border-radius: 2px;
    width:60%;
}
.existingComments{
    padding:10px;
    margin:10px;
}
.commentsInput{
    border-radius: 5px;
    margin:30px;
    height: 100px;
    width:80%;
}
.btn-margin{
    margin:10px;
}